{% extends '_base.html' %}

{% load thumbnail %}

{% block title %}
    Authors
{% endblock title %}

{% block content %}
    <div class="text-center">
        {% if author.profile %}
            <a href="{{ author.profile.url }}">
                <img src="{% thumbnail author.profile 300x0 %}" alt="{{ author }}" class="rounded-circle">
            </a>
        {% endif %}
        <h1>{{ author }}</h1>
    </div>


    {% if author.email %}
        <p>Email: {{ author.email }}</p>
    {% endif %}
    {% if author.books_written %}
        <h3>Books written:</h3>
        <div class="row justify-content-center">
            {% for book in author.books_written.all %}
                <div class="col-md-4 text-center">
                    <div class="card">
                        <a href="{{ book.get_absolute_url }}">
                            <img class="card-img-top" src="{% thumbnail book.cover 300x0 %}" alt="{{ book.title }}">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
                          <p class="card-text">{{ book.subtitle }}</p>
                          <p class="card-text">Rating: {{ book.get_average_rating }}</p>
                          <a href="{{ book.get_absolute_url }}" class="btn btn-primary">{{ book.title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
    {% endif %}
{% endblock content %}