{% extends "_base.html" %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <div class="book-detail">
        {% if book.cover %}
            <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
        {% endif %}
        <h2><a href="">{{ book.title }}</a></h2>
        <p>Author(s):</p>
        <ul>
            {% for author in book.authors.all %}
                <p>{{ author.first_name }} {{ author.last_name }}</p>
            {% endfor %}
        </ul>
        <p>Price: ${{ book.price }}</p>
        {% if book.reviews.all %}
            <div>
                <h3>Reviews</h3>
                <ul>
                    {% for review in book.reviews.all %}
                        <li>{{ review.review }} &middot; {{ review.author }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock content %}