{% extends "_base.html" %}

{% load thumbnail crispy_forms_tags %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <div class="book-detail">
        {% if book.cover %}
            <a href="{{ book.cover.url }}">
                <img src="{% thumbnail book.cover 300x0 %}" alt="{{ book.title }}">
            </a>
        {% endif %}
        <h2><a href="">{{ book.title }}</a></h2>
        <h4>{{ book.subtitle }}</h4>
        <h4>Rating: {{ book.get_average_rating }}</h4>
        {% with copy=book.copy %}
            {% if copy < 5 %}
                <p class="text-danger">Only {{ copy }} left in stock.</p>
            {% endif %}
        {% endwith %}
        <p>{{ book.summary|linebreaks }}</p>
        <p>Written by:</p>
        <ul>
            {% for author in book.authors.all %}
                <p><a href="{{ author.get_absolute_url }}">{{ author }}</a></p>
            {% endfor %}
        </ul>
        <p>Price: ${{ book.price }}</p>
        {% if book.reviews.all %}
            <div>
                <h3>Reviews</h3>
                <ul>
                    {% for review in book.reviews.all %}
                        <li>
                            {{ review.review }} &middot; {{ review.rating }} &middot; {{ review.author }} &middot;
                            {{ review.created }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if request.user.is_authenticated %}
            <h4>Add review</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Post" class="btn btn-success">
            </form>
        {% else %}
            <p><a href="{% url 'account_login' %}?next={{ request.path }}">Login</a> to review</p>
        {% endif %}
        <p class="mt-4"><a href="{% url 'books:book_list' %}">Back to books</a></p>
    </div>
{% endblock content %}