{% extends "_base.html" %}

{% load thumbnail %}

{% block title %}Books{% endblock title %}

{% block content %}
    <div class="row gy-4 justify-content-center">
        {% for book in books %}
            <div class="col-md-4 text-center">
                <div class="card">
                    <a href="{{ book.get_absolute_url }}">
                        <img class="card-img-top" src="{% thumbnail book.cover 300x0 %}" alt="{{ book.title }}">
                    </a>
                    <div class="card-body">
                    <h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
                    <p class="card-text">{{ book.subtitle }}</p>
                    <p class="card-text">Rating: {{ book.average_rating }}</p>
                    <a href="{{ book.get_absolute_url }}" class="btn btn-primary">{{ book.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-4">
        {% include "includes/pagination.html" with page=page_obj %}
    </div>
{% endblock content %}