{% extends "_base.html" %}

{% block title %}Books{% endblock title %}

{% block content %}
    {% for book in books %}
        <div>
            {% if book.get_average_rating %}
                <h2><a href="{{ book.get_absolute_url }}">{{ book.title }} - {{ book.get_average_rating }}</a></h2>
            {% else %}
                <h2><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h2>
            {% endif %}
        </div>
    {% endfor %}

    <div class="mt-4">
        {% include "includes/pagination.html" with page=page_obj %}
    </div>
{% endblock content %}